<h1>Welcome to Segmentation Fault!</h1>
<h3>Segmentation Fault is a site for preparing for interviews.</h3>
<p>Take a look around, post some answers, and ask some questions you've seen in interviews!</p>
<p>
  <a href="/question" class="btn btn-lg btn-primary">View Question List</a>
  <a href="/question/submit" class="btn btn-lg btn-primary">Ask a Question</a>
</p>
